**/PSD
PSD/*
psd/*
/psd/*
/psd/**
.gitignore
*.docx
*.doc
*.rtf.new
*.rtf
*.psd
/evrysoft/*.docx
/evrysoft/*.doc
/evrysoft/*.rtf.new
/evrysoft/*.rtf
/evrysoft/*.psd
/nbproject/*
/nbproject
/*gitignore

